

* {
  margin: 0;
  padding: 0;
}

.first-section {
  height: auto;
  width: 100%;
  margin-top: 20px;
  padding-top: 70px;
  background-color: #1c0d1b;
  padding: 20px;
}

.container-1 {
 display:flex;
 flex-direction: column;
 justify-content: center;
}

.header{
font-family: 'Cinzel Decorative';
font-size: 20px;
text-align: center;

color: #FFFFFF;
}

.paragraph {
font-family: 'Raleway';
}


.even-columns-1 {
  display: flex;
  padding: 50px 0px;
  //border: 2px solid black;
}

.even-columns-2 {
  display: flex;
  padding: 50px 0px;
  //border: 2px solid black;
}

.even-columns > * {
  flex-basis: 100%;
  justify-content: center;
}

.col-1, .col-2, .col-3, .col-4 {
  text-align: center;
}
.paragraph {
  margin-top: 100px;
  padding: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

//@media (min-width: 500px) {

//   .first-section {
//       height: 1048px;
//       width: 360px;
//       margin: 0px;
//       padding: 0px;
//       display: inline-block;
//   }

//   .even-columns-1 {
//     text-align: center;
//     background-color: #1c0d1b;

//   }

//   .even-columns-2 {
//     text-align: center;
//     position: relative;
//     margin-top: 1200px;
//     margin-left: -260px;
//     background-color: #1c0d1b;
//   }

//   .image {
//     height: 100px;
//     width: 100px;
//   }

  
//   .paragraph {
//     font-size: 12px;
      
//   }

// }

// // @media (min-width: 900px) {

//   .header {
//     text-align: center;
//     margin-bottom: 50px;
//   }

//   .image {
//     height: 100px;
//     width: 100px;
//   }

//   .paragraph {
//     margin-top: 0px;
//   }
 

//   .even-columns-1 {
//     text-align: center;
//     padding: 0px;
//   }

//   .even-columns-2 {
//     text-align: center;
//     padding: 0px; 
//   }
// }

@media (min-width: 1200px) {

  .first-section {
    padding-top: 100px;
  }
  
  .header {
    text-align: center;
  }
.container-1 {
  flex-direction: row;
}

.image {
  height: 164px;
  width: 164px;
  margin: 0 auto;
}
}
