.contact-section{
    margin: 0% auto;
    padding: 2%;
    height: auto;
    width: 100%;
    color: $darkpurple;
    background: conic-gradient(from 132.35deg at -12.88% -9.62%, #1C0D1B 0deg, #1C0D1B 178.12deg, #FFFFFF 335.63deg, #1C0D1B 360deg);
    .contact-title{
        font-family: $cinzel;
        font-size: 1.5rem;
        margin: 0% auto;
        padding: 2% ;
        text-align: center;
    }
}


.wpcf7 {
    margin: 0% auto;
    padding: 3%;
    width: 100%;
    height: auto;
    font-family: $cinzel;
    color: white;
    letter-spacing: 1.5px;
}

.wpcf7 label{
    font-size: 0.6rem;
}

.wpcf7 textarea{
    height: 25vh;
    width: 100%;
    font-size: 0.5rem;
    font-weight: 600;
    font-family: $cinzel;
    padding: 1% 2%;
    border-radius: 0%;
    letter-spacing: 2px;
    resize: none;
    border: 1px solid rgba(133, 131, 131, 0.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.wpcf7 input[type="submit"] {
    margin: 0% auto;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #000;
    width: auto;
    height: auto;
    font-weight: 600;
    font-family: $cinzel;
    font-size: 0.6rem;
    padding: 2% 4%;
    border-radius: 0%;
    border: 1px solid rgba(133, 131, 131, 0.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.wpcf7 input[type="submit"]:hover {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    background: #1C0D1B;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0px 4px 4px rgb(83, 37, 248, 0.5);
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="select"]
{
    color: #000;
    width: 100%;
    height: auto;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: $cinzel;
    padding: 1.5% 2%;
    border-radius: 0%;
    border: 1px solid rgba(133, 131, 131, 0.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 600px) {

    .contact-title{
        font-size: 2rem !important;
    }

    .wpcf7 {
        width: 60%;
    }

    .wpcf7 input[type="submit"] {
        font-size: 0.9rem;
    }
}


@media screen and (min-width: 900px) {

    .contact-title{
        font-size: 2.5rem !important;
    }

    .wpcf7 {
        width: 50%;
    }

    .wpcf7 input[type="submit"] {
        font-size: 1rem;
    }
}