// Set Variables 
$darkpurple: #1c0d1b;
$violet: #5325f8;
$aqua: #74e7d9;
$cinzel: 'Cinzel Decorative', cursive;
$raleway: 'Raleway', sans-serif;

// EXAMPLE:

// color: $darkpurple;
// font-family: $cinzel;

.site-header{
    height: 60px;
    width: 100%;
    background-color: $darkpurple;
    position: sticky;
    top: 0;
    z-index: 1;

	.site-branding{
		float: left;
		margin: 5px 15px;
		height:50px;
		width:50px;
	}
}
.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		float: right;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
		font-weight: bolder;
		text-transform: uppercase;
		margin: 20px 20px;
		font-family: $cinzel;
		&:hover{
			color: darkmagenta;
		}
		&:active{
			color:cornflowerblue;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

button.menu-toggle {
    position: absolute;
	top: 0;
    right: 0;
    border: none;
    background-color: transparent;
}

.hamburger {
	color: $aqua;
	font-size: 30px;
}

.toggled {
    width: 100%;
    height: 100vh;
    background: $darkpurple;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    div {
		height: 100vh;
		width: 100%;
		background:
		 linear-gradient(to bottom right,rgba(83, 37, 248, 0.6)  0%, rgba(83, 37, 248, 0.5)  7.41%, rgba(83, 37, 248, 0.4)  13.72%, rgba(83, 37, 248, 0.3)  25.23%, rgba(83, 37, 248, 0.2)  34.56%, rgba(83, 37, 248, 0.1)  40.76%,transparent 50%) bottom right,
		  
		 linear-gradient(to bottom left,rgba(83, 37, 248, 0.6)  0%, rgba(83, 37, 248, 0.5)  7.41%, rgba(83, 37, 248, 0.4)  13.72%, rgba(83, 37, 248, 0.3)  25.23%, rgba(83, 37, 248, 0.2)  34.56%, rgba(83, 37, 248, 0.1)  40.76%,transparent 50%) bottom left,
		  
		 linear-gradient(to top left, rgba(83, 37, 248, 0.6)  0%, rgba(83, 37, 248, 0.5)  7.41%, rgba(83, 37, 248, 0.4)  13.72%, rgba(83, 37, 248, 0.3)  25.23%, rgba(83, 37, 248, 0.2)  34.56%, rgba(83, 37, 248, 0.1)  40.76%,transparent 50%) top left,
		  
		 linear-gradient(to top right, rgba(83, 37, 248, 0.6)  0%, rgba(83, 37, 248, 0.5)  7.41%, rgba(83, 37, 248, 0.4)  13.72%, rgba(83, 37, 248, 0.3)  25.23%, rgba(83, 37, 248, 0.2)  34.56%, rgba(83, 37, 248, 0.1)  40.76%,transparent 50%) top right;
		background-size:50% 50%;
		background-repeat:no-repeat;
	  
	  }
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
	.toggled {
		display: none;	
	}
	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

@media screen and (min-width: 600px) {
    //CODE HERE FOR TABLET SIZES  
	button.menu-toggle {
		display:block;
	} 
	.toggled {
		display:block; 
	}
	.menu-menu-1-container {
		display: flex;
}
}

@media screen and (min-width: 829px) {
	button.menu-toggle {
		display:none;
	}
}

@media screen and (min-width: 900px) {
    
    //CODE HERE FOR LARGER TABLET/DESKTOP AND UP HERE
	button.menu-toggle {
		display:none;
	}
}