// Set Variables 
$darkpurple: #1c0d1b;
$violet: #5325f8;
$aqua: #74e7d9;
$cinzel: 'Cinzel Decorative', cursive;
$raleway: 'Raleway', sans-serif;

footer#colophon {
    width: auto;
    height: auto;
    // background-color: aqua;
    position: relative;
    bottom: 0;
    align-items: center;
    ul{
        list-style-type: none;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .footer-container {
        // display:inline-block;
        // width: 100%;
        // height: auto;
        margin: 2% auto;
        align-items:center ;
        justify-content: center;
        padding: 5% auto !important;
        ul {
            column-count:3;
            margin: 0% auto;
            padding: 3% 1%;
            font-size: 0.7rem;
            font-weight: 600;
            font-family: $cinzel;
            text-align: center;
            align-items:center ;
            justify-content: center;

            li {
                width: auto;
            }

        }
        
    }


    // .row-one {
    //     display: inline-block;
    //     margin: 20px 0px;
    // }

    .projects {
        // position: relative;
        // left: -75px;
        margin: 0 auto;
        padding: 0;
        a {
            margin: 2% 6%;
            padding: 3%;
        }
    }

    .team {
        // position: relative;
        // right: -80px;
        margin: 0 auto;
        padding: 0;
        a {
            margin: 2% 6%;
            padding: 3%;
        }
    }

    .row-one {
        // margin: 0 0 50px 0;
    }

    .row-two {
            /* text-align: center; */
            // margin: 23px 102%;
            padding: 0;
            display: flex;
            justify-self: center;
            justify-content: center;
            align-items: center;
        a {
            margin: 2% 6%;
            padding: 3%;
        }
    }

    // .row-three {
    //     display: inline-block;
    // }

    .contact {
        // position: relative;
        // left: -75px;
        // margin: 20px 0px;
        margin: 0 auto;
        padding: 0;
        a {
            margin: 2% 6%;
            padding: 3%;
        }
    }

    .about {
        // position: relative;
        // right: -75px;
        // margin: 20px 0px;
        margin: 0% 5%;
        padding: 0;
        a {
            margin: 2% 6%;
            padding: 3%;
        }
    }

    .menu-item a {
        color: black;
        text-decoration: none;
        font-family: $cinzel;
        &:hover {
            color: $violet;
            text-shadow: 2px 2px rgb(255, 255, 255, 0.5);
        }
        // &:active {
        //     color: $darkpurple;
        // }
        
    }

}

.social-media {
    display: flex;
    justify-content: space-evenly;
    a{
        color: $darkpurple;
    }
    i:hover {
        color:$violet;
    }
}

.design-developed {
    font-family: $cinzel;
    text-align: center;
    margin: 1 auto !important;
    // font-size: 2rem;
    // letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 2%;
}

.footer-impactzone {
    color: $violet; 
}

.members {
    font-family: $cinzel;
    text-align: center;
    margin: 1% auto;
    // font-size: 2rem;
    // letter-spacing: 2px;
    font-weight: 600;
}

.copywright {
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .container {
        ul {
            font-size: 0.9rem !important;
        }
    }
}

@media screen and (min-width: 600px) {
    .container {
        ul {
            font-size: 1rem !important;
        }
    }
}



@media screen and (min-width: 900px) {
    .footer-container {
      
        ul {
            padding: 1% !important;
            font-weight: 800 !important;
            font-size: 0.9rem !important;
        }
    } 
}